<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.songezo.assignment6_android">

    <application
        android:name=".conf.util.App"
        android:allowBackup="true"
        android:debuggable="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activities.MainActivity_Login"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".services.Impl.Add_PremierSoccerLeague_Service_Impl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.Impl.View_Tournament_Service_Impl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.Impl.View_Sponsor_Service_Impl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.Impl.View_Team_Service_Impl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.Impl.View_Stadium_Service_Impl"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".services.Impl.View_LogStandings_Service_Impl"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".activities.Fields_Activity" />
        <activity android:name=".activities.Display_Activity" />
        <activity android:name=".activities.DB_View_Activity"></activity>
    </application>

</manifest>